/* CSS File for all css and overwrite of bootstrap css file */

html {
  font-family: 'Raleway', sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
   font-size: 18px; 
}

.container-navsize {
  width: 100%;
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
}

.navbar {
  margin-bottom: 0;
  text-align: center;
}

.navbar-default {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.carousel-inner .item .center-block {
    width: 100%;
    height: 550px;
}

.top-menu {
  width: 100%;
  display: inline-block;
  background-color: #75b843;
  text-align: center;
}

.top-menu a {
  color: #fff;
}

.top-menu-items {
  display: inline-block;
  width: 100%;
  max-width: 1200px;
}

.top-menu ul>li {
  display: inline-block;
  padding: 10px 10px 0 10px;
}

/* Home page ------ */

.container-size1 {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-size2 {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px; 
}


.container1 {
  width: 100%;
  background: url();
}

.container2 {
  width: 100%;
  background: url();
}

.container3 {
  width: 100%;
  background: url();
}

.container4 {
  width: 100%;
  background: url();
}



/* Accordian tabs -------- */

 .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

/* Footer --------------------------------- */



/* Social Icons*/

.social-icons {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.social-icons ul {
  padding-left: 0;
}

.fa.arrow {
  color: #75b843;
  font-size: 12px;
  font-size: 1.2rem;
}

.fa.custom-icon {
  font-size: 12px;
  font-size: 1.2rem;
}

.social-icons ul>li {
    display: inline-block;
    padding: 10px;
    font-size: 24px;
    font-size: 2.4rem;
    list-style-type: none;
}


ul.new-list1 {
  list-style-type: none;
  padding-left: 0;
}

ul.new-list2 {
  list-style-type: none;
  padding-left: 0;
}

.footer-pic {
  max-height: 250px;
}

#footer-top {
      background-color: #332f2a;
      padding: 40px 0;
      color: #fff;
}

#footer-top a {
  color: #fff;
}

#footer-bottom {
     background-color: #201d19;
     padding: 40px 0;
     color: #fff;
}



@media only screen and (max-width: 840px) {
  
  .carousel-inner .item .center-block {
  height: auto;
  }
}
