/* CSS File for all css and overwrite of bootstrap css file */

html {
  font-family: 'Raleway', sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}


.navbar {
  margin-bottom: 0;
}


.carousel-inner .item .center-block {
    width: 100%;
    height: 550px;
}

.top-menu {
  width: 100%;
  display: inline-block;
  background-color: #75b843;
  text-align: center;
}

.top-menu a {
  color: #fff;
}

.top-menu-items {
  display: inline-block;
  width: 100%;
  max-width: 1200px;
}

.top-menu ul>li {
  display: inline-block;
  padding: 10px 10px 0 10px;
}

/* Home page ------ */

.container-home {
  background: url();
  display: inline-block;
  width: 100%;
}

.container-custom {
  display: inline-block;
  width: 100%;
  max-width: 1140px;
  text-align: center;
  padding: 50px 20px;
}

.container-custom2 {
  display: inline-block;
  width: 100%;
  max-width: 1180px;
  text-align: center;
  padding: 50px 20px;
}

/* Accordian tabs -------- */

 .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }



@media only screen and (max-width: 840px) {
  
  .carousel-inner .item .center-block {
  height: auto;
  }
}
